---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: {{ .Chart.Name | quote }}
  namespace: default
  labels:
{{ include "nginx.labels.standard" . | indent 4 }}
    app.openshift.io/runtime: {{ .Values.labels.runtime }}
    app.openshift.io/runtime-version: {{ .Values.labels.version | quote }}
    app.openshift.io/runtime-namespace: default
spec:
  replicas: {{ .Values.global.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Chart.Name | quote }}
  template:
    metadata:
      labels: 
        app: {{ .Chart.Name | quote }}
    spec:
      volumes:
        - name: satis-php
          persistentVolumeClaim:
            claimName: satis-php
        - name: config-satis-nginx
          configMap:
            name: config-satis-nginx
      containers:
        - name: {{ .Chart.Name | quote }}
          image: {{ .Values.global.image.repository }}{{ .Values.labels.runtime }}:satis
          ports:
            - name: {{ .Values.ports.name }}
              containerPort: {{ .Values.ports.containerPort }}
              protocol: {{ .Values.ports.protocol }}
          resources:
            requests:
              cpu: {{ .Values.resources.requests.cpu }}
              memory: {{ .Values.resources.requests.memory }}
            limits:
              cpu: {{ .Values.resources.limits.cpu }}
              memory: {{ .Values.resources.limits.memory }}
          volumeMounts:
            - mountPath: {{ .Values.global.volumeMounts.mountPath | quote }}
              name: satis-php
              subPath: {{ .Values.global.volumeMounts.subPath | quote }}
            - mountPath: "/etc/nginx/conf.d"
              name: config-satis-nginx
              readOnly: true
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          imagePullPolicy: IfNotPresent
          readinessProbe: 
            tcpSocket:
              port: {{ .Values.ports.containerPort }}
            timeoutSeconds: 1
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 3
          livenessProbe: 
            tcpSocket:
              port: {{ .Values.ports.containerPort }}
            initialDelaySeconds: 15
            timeoutSeconds: 1
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 3
      restartPolicy: Always
      terminationGracePeriodSeconds: 30
      dnsPolicy: ClusterFirst
      securityContext: {}
      schedulerName: default-scheduler
  strategy:
    type: Recreate
  revisionHistoryLimit: 3
  progressDeadlineSeconds: 600
...
