---
- name: Build, tag, and push Docker images
  hosts: darwin
  connection: local
  vars_files: defaults/main.yaml
  gather_facts: false
  tasks:
    - name: Build the Docker images
      tags: php
      block:
        - name: Run the docker-bake.hcl file
          ansible.builtin.command:
            chdir: "{{ SELF }}/docker/"
            cmd: docker buildx bake
        - name: Push the NGiNX build to GitHub
          ansible.builtin.command: docker push {{ NGiNX }}
        - name: Push the PHP build to GitHub
          ansible.builtin.command: docker push {{ PHP }}
      rescue:
        - name: Make sure all handlers run
          meta: flush_handlers
  handlers:
    - name: Run me even after an error
      ansible.builtin.debug:
        msg: 'This handler runs even on error'
...
