---
- name: Setup an OpenShift Satis instance
  hosts: darwin
  connection: local
  vars_files: defaults/main.yaml
  gather_facts: false
  tasks:
    - name: Get the Satis pod generated label
      tags: query
      block:
        - name: Query for the Satis pod name
          ansible.builtin.command: kubectl get pods -l app=satis-php --no-headers=true -o name
          register: podname
          changed_when: podname.rc != 0

        - name: Trim the pod/ prefix from the variable value
          ansible.builtin.set_fact:
            podname: "{{ podname.stdout | regex_replace('pod/', '', count=1) }}"

    - name: Create a new Satis project
      tags: satis
      block:
        - name: Initiate the Satis installation
          ansible.builtin.command: kubectl exec {{ podname }} -- composer create-project --keep-vcs --no-dev composer/satis install dev-main

    - name: Transfer the miscellaneous assets to the Satis pod
      tags: assets
      block:
        - name: Capture the value of the Node port
          ansible.builtin.command: minikube service satis-nginx --url
          register: nodeport
          changed_when: nodeport.rc != 0

        - name: Replace the homepage placeholder with the actual url
          ansible.builtin.lineinfile:
            path: "assets/satis.json"
            search_string: '"homepage":'
            line: '    "homepage": "{{ nodeport.stdout }}",'
            mode: "0644"

        - name: Replace the prefix-url placeholder with the actual url
          ansible.builtin.lineinfile:
            path: "assets/satis.json"
            search_string: '"prefix-url":'
            line: '        "prefix-url": "{{ nodeport.stdout }}",'
            mode: "0644"

        - name: Copy the satis.json
          ansible.builtin.command: kubectl cp assets/satis.json {{ NAMESPACE }}/{{ podname }}:{{ INSTALL }}

        - name: Copy the auth.json
          ansible.builtin.command: kubectl cp assets/auth.json {{ NAMESPACE }}/{{ podname }}:{{ INSTALL }}

    - name: Build the Satis repository
      tags: repo
      block:
        - name: Initiate the Satis repo build
          ansible.builtin.command: kubectl exec {{ podname }} -- bash -c "cd {{ INSTALL }} && php bin/satis build satis.json {{ REPO }}"

        - name: Copy the favicon
          ansible.builtin.command: kubectl cp icons/favicon.ico {{ NAMESPACE }}/{{ podname }}:{{ REPO }}

        - name: Copy the apple-touch-icon
          ansible.builtin.command: kubectl cp icons/apple-touch-icon.png {{ NAMESPACE }}/{{ podname }}:{{ REPO }}

        - name: Copy the apple-touch-icon-precomposed
          ansible.builtin.command: kubectl cp icons/apple-touch-icon-precomposed.png {{ NAMESPACE }}/{{ podname }}:{{ REPO }}

    - name: Check for updates to the default Composer installation
      tags: composer
      block:
        - name: Update the Composer installation
          ansible.builtin.command: kubectl exec {{ podname }} -- bash -c "cd {{ INSTALL }} && composer update"
