---
labels:
  version: latest
  runtime: nginx
service:
  type: ClusterIP
  port: 8080
ports:
  name: 8080-tcp
  containerPort: 8080
  protocol: TCP
resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

global:
  replicaCount: 1
  image:
    repository: ghcr.io/farghul/
  host: "satis.local"
  volumeMounts:
    mountPath: /data/apps/satis
    subPath: satis
...